<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/dallasgriff"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/dallasgriff/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://twitter.com/dallasgriff"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.pinterest.com/dallasgriff/"><%= fa_icon "pinterest" %></a></li>
      <li><a href="https://www.instagram.com/dallasgriff/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/dallasgriff"><%= fa_icon "facebook" %></a></li>


    </ol>
  </div>
</div>